<div class="titleQuestion">
    <label class="title">Wie würden Sie Ihr Problem kategorisieren?</label>
</div>
<div class="titleAdditional">
    <label class="title">(Mehrfachauswahl möglich)</label>
</div>

<div class="categories">
    <div>
        <mat-button-toggle class="categoryBtn" value="verstaendnis">Verständnis</mat-button-toggle>
    </div>
    <div>
        <mat-button-toggle class="categoryBtn" value="sprache">Sprache</mat-button-toggle>
    </div>
    <div>
        <mat-button-toggle class="categoryBtn" value="underline">Sehschwäche</mat-button-toggle>
    </div>
    <div>
        <mat-button-toggle class="categoryBtn" value="andere">Andere</mat-button-toggle>
    </div>
</div>

<div>
    <button mat-button class="submitBtn" routerLink="/help">Auswahl bestätigen</button>
</div>
