
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// below defines your custom color to build a theme palette from

$custom-collection: (
    primary :  #2C3B55,
    bg-primary :  #F0F0F0,
    contrast: (
        primary :  #000000,
        bg-primary :  #FFFFFF,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FormFux-primary: mat-palette($custom-collection, primary);
$FormFux-bg-primary: mat-palette($custom-collection, bg-primary);
$FormFux-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FormFux-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FormFux-theme: mat-light-theme((
  color: (
    primary: $FormFux-primary,
    accent: $FormFux-accent,
    warn: $FormFux-warn,
    bg-primary: $FormFux-bg-primary,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($FormFux-theme);


html, body { height: 100%; background-color: #F0F0F0; }

.img-scale-down {
  width: 80%;
  height: 80%;
  object-fit: scale-down;
  overflow: hidden;
  display: block;
margin: 0 auto;
}

.mat-toolbar {
  height: 100px !important;
}

.img-header{
  display: block;
  margin: 0 auto;
}

.formtype {
  color: #2C3B55;
  font-size: x-large;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}



body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;  
}
